{
  "apiKey": "your-key",
  "schedule": {
    "dayOfMonth": 27,
    "timeOfDay": "4:00 PM",
    "frequency": 1
  },
  "recipients": [
    {
      "email": "person1@example.com",
      "name": "Person 1"
    },
    {
      "email": "person2@example.com",
      "name": "Person 2"
    }
  ]
}
